/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
  border:2px:solid;
  
}

.logo{
  width:20%;
  display:flex;
  margin-right:0 auto%;
}

.logo img{
  max-width:100%;
}

header {
    width: 100%;
    display: flex;
    margin: 20px 0;
}

header .logo {
    width: 157px;
    height: 40px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header nav a {
    font-size: 22px;
    text-decoration: UPPERCASE;
    color: black;
  transition:1s;
  margin-bottom:6%;
}
.headerimage {
    margin: 3% 15% 2% 15%;
}
.jumbotron {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.topcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.topcontent .textcontainer {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middlecontent {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middlecontent h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middlecontent .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middlecontent .boxes .box1 {
    width: 12.5%;
    height: 100px;
    background: teal;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes .box2 {
    width: 12.5%;
    height: 100px;
    background: gold;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes .box3 {
    width: 12.5%;
    height: 100px;
    background: cadetblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes .box4 {
    width: 12.5%;
    height: 100px;
    background: coral;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes .box5 {
    width: 12.5%;
    height: 100px;
    background: crimson;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes .box6 {
    width: 12.5%;
    height: 100px;
    background: forestgreen;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes .box7 {
    width: 12.5%;
    height: 100px;
    background: darkorchid;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes .box8 {
    width: 12.5%;
    height: 100px;
    background: hotpink;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes .box9 {
    width: 12.5%;
    height: 100px;
    background: indigo;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes .box10 {
    width: 12.5%;
    height: 100px;
    background: dodgerblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topabout .first-container {
    width: 100%;
    padding: 1 2% 24px 4%; 

 
}
.middleabout {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middleabout-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2 2% 2% 2%;
}

.middleaboutarea {
    display: flex;
    align-self: auto;
    flex-direction: column;
    width: 350px;
    padding-bottom: 4%;
    margin-bottom: 10px;
    border-bottom: 1px dashed black;
  transition:2s;
}

.middleaboutarea p {
    padding-bottom: 4%;
}

.middleaboutarea .learnnmore {
    width: 150px;
    padding: 3%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: justify;
}

.bottomcontenthere {
    display: flex;
    margin: 0 3% 25px;
    justify-content: space-around;
}

.bottomcontenthere .textcontainer {
    padding-right: 5%;
}
p {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
} 